@page
@model Employee.Pages.Payroll.ComputeModel
@{
}
<div class="container">
    <div class="row border p-3">


        <div class="col-12">
            <table class="table myGrid">
                <thead>
                    <tr>

                        <th>
                            <label asp-for="EmployeeData.ID"></label>
                        </th>
                        <th>
                            <label asp-for="EmployeeData.LastName"></label>
                        </th>
                        <th>
                            <label asp-for="EmployeeData.FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="EmployeeData.MiddleName"></label>
                        </th>
                        <th>
                            <label asp-for="EmployeeData.Rate"></label>
                        </th>
                        <th>
                            @if (Model.EmployeeData.EmployeeType == 1)
                            {
                                <label asp-for="EmployeeAttendance.DaysAbsent"></label>
                            }
                            else
                            {
                                <label asp-for="EmployeeAttendance.DaysPresent"></label>
                            }
                        </th>
                        <th>
                            <label asp-for="NetIncome"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeData.ID)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeData.LastName)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeData.FirstName)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeData.MiddleName)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmployeeData.Rate)

                        </td>
                        <td>
                            @if (Model.EmployeeData.EmployeeType == 1)
                            {
                                @Html.DisplayFor(model => model.EmployeeAttendance.DaysAbsent)
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.EmployeeAttendance.DaysPresent)}
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.NetIncome)

                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
            @*<input type="hidden" asp-for="EmployeeAttendance.EmployeeID" value="@Model.EmployeeData.ID" />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.EmployeeType">Employment Type: </label>
                </div>
                <div class="col-5">
                    <select id="selCategory" class="categorySelect" asp-for="EmployeeData.EmployeeType" asp-items="Model.EmployeeTypes" disabled>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.ID">ID:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.ID</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.LastName">Last Name:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.LastName</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.FirstName">First Name:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.FirstName</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.MiddleName">Middle Name:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.MiddleName</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.BirthDate">Birthdate:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.BirthDate.ToShortDateString()</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.TIN">TIN:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.TIN</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="EmployeeData.Rate">Rate:</label>
                </div>
                <div class="col-5">
                    <label class="form-control">@Model.EmployeeData.Rate.ToString("N")</label>
                </div>
            </div>
            @if (Model.EmployeeData.EmployeeType == 1)
            {<div class="form-group row">
                    <div class="col-2">
                        <label asp-for="EmployeeAttendance.DaysAbsent">Days Present:</label>
                    </div>
                    <div class="col-5">
                        <label class="form-control">@Model.EmployeeAttendance.DaysAbsent</label>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="EmployeeAttendance.DaysPresent">Days Present:</label>
                    </div>
                    <div class="col-5">
                        <label class="form-control">@Model.EmployeeAttendance.DaysPresent</label>
                    </div>
                </div>
            }*@

        <div class="form-group row">

            <a asp-page="Index" class="btn btn-secondary form-control">Back to List</a>
            <div class="col-4">
            </div>
        </div>
        </div>
    </div>
</div>